<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.fudan.mapper.IssueRepoScanListMapper">

    <resultMap id="issueRepo" type="cn.edu.fudan.common.domain.po.scan.RepoScan">
        <result property="repoUuid" column="repo_uuid"/>
        <result property="branch" column="branch"/>
        <result property="startCommit" column="start_commit"/>
        <result property="scanStatus" column="status"/>
    </resultMap>

    <insert id="insertRepoScanList">
        insert into issue_repo_scan_list
        (
        repo_uuid,
        branch,
        start_commit,
        status
        )
        values
        <foreach collection="issueRepoScanList" separator="," item="issueRepo">
            (
            #{issueRepo.repoUuid},
            #{issueRepo.branch},
            #{issueRepo.startCommit},
            #{issueRepo.scanStatus}
            )
        </foreach>
    </insert>

    <update id="updateStatusByRepoUuid">
        update issue_repo_scan_list
        set status = #{status}
        where repo_uuid = #{repoUuid}
    </update>

    <delete id="deleteRepoRepoByCondition" parameterType="String">
        DELETE FROM issue_repo_scan_list
        WHERE repo_uuid = #{repoUuid}
        <if test="status != null and status != ''">
            AND status = #{status}
        </if>
    </delete>

    <select id="getRepoScansByCondition" resultMap="issueRepo">
        select repo_uuid,branch,start_commit,status
        from issue_repo_scan_list
        <where>
            <trim prefixOverrides="and">
                <if test="repoUuid != null and repoUuid !=''">
                    and repo_uuid = #{repoUuid}
                </if>
                <if test="statusList != null and statusList.size() != 0">
                    and status in
                    <foreach collection="statusList" item="status" open="(" separator="," close=")">
                        #{status}
                    </foreach>
                </if>
            </trim>
        </where>
    </select>

</mapper>